.container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 50px 50px 50px;
    gap: 3px;
}

.container>div:nth-child(1) {

    background-color: blueviolet;
    grid-row: 1/4;
}

.container>div:nth-child(2) {
    background-color: blue;
    grid-column: 2/4;
}

.container>div:nth-child(3) {

    background-color: brown;
}

.container>div:nth-child(4) {

    background-color: yellow;
}

.container>div:nth-child(5) {

    background-color: green;
}

.container>div:nth-child(6) {

    background-color: lightgreen;
    grid-row: 2/4;
    grid-column: 4/5;
}

.container>div:nth-child(7) {

    background-color: lightgoldenrodyellow;
}

.container>div:nth-child(8) {

    background-color: lightgrey;
}